---
import ThemeSelector from "@components/themeselector.astro";
---

<footer class="pb-12 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<div class="flex justify-center gap-3">
			<ThemeSelector />
		</div>
		<div class="mt-4 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © Digital Native DO S.R.L 2023 - Presente.</span>
		</div>
	</div>
</footer>
